.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}



.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  color: #828282;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.modal-close-btn:hover {
  color: #333333;
  background-color: #f5f5f5;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.modal-header svg {
  background-color: #0d425d;
  color: #f5f5f5;
  border-radius: 50%;
  padding: 8px;
  width: 30px;
  height: 30px;
  margin-top: -40px;
}

.modal-title {
  color: #0d425d !important;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #282828;
  margin-bottom: 0px;
}

 

.modal-message {
  color: #0d425d !important;
  margin-top: -10px !important;
  font-size: 1rem;
  margin-bottom: -10px !important;
  line-height: 1.5;
}

.modal-footer {
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: center;
}

.btn-secondary {
  flex: 1;
  max-width: 100px;
  padding: 5px 10px !important;
  font-size: 1rem;
  border: 2px solid #0d425d;
  background: #0d425d;
  color: #f8fafc;
  border-radius: 50px !important;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 30px;
}

.btn-secondary:hover {
  background-color: #0d425de2;
}

.btn-danger {
  flex: 1;
  max-width: 110px;
  padding: 5px 10px !important;
  font-size: 1rem;
  border: 2px solid #0d425d;
  background: #f8fafc;
  color: #0d425d;
  border-radius: 50px !important;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 30px;
}

.btn-danger:hover {
  background-color: #dbe3e7;
  border-color: #0d425d;
}

/* Add input and select styles */
.modal-content label {
  font-size: 0.875rem;
  font-weight: bold;
  color: #0d425d;
  text-align: left;
  width: 100%;
  display: block;
}

.modal-content input,
.modal-content select {
  padding: 8px 12px;
  border: 1px solid #0d425d;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.2s ease;
  background-color: #fff;
  margin-bottom: 16px;
  width: 250px;
}

.modal-content input:focus,
.modal-content select:focus {
  outline: none;
  border-color: #0d425d;
  box-shadow: 0 0 0 3px rgba(13, 66, 93, 0.1);
}

.modal-content h2 {
  color: #0d425d;
  margin-bottom: 16px;
}
/* Custom input style to override default color */
.custom-input {
  color: #0d425d !important;
}

.custom-input::placeholder {
  color: #0d425d !important;
  opacity: 0.5;
}